Repository stapetro/demo-tpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, black, isort, pylint, mypy

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables
  - --remove-all-unused-imports
  - --recursive
  - --ignore-init-module-imports

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

mypy:
  name: mypy
  entry: mypy
  language: system

[dbg] Update dependencies
  poetry.lock
  pyproject.toml
Due: none

[fix] Expose python pkgs
  backend_base.dockerfile
Due: none

[dbg] Update dependencies
  poetry.lock
Due: none

[dbg] Update dependencies
  backend_base.dockerfile
  poetry.lock
  pyproject.toml
Due: none

[fix] Pydantic usage
  src/app/schemas/item.py
  src/app/schemas/user.py
  tests/unit/core/test_config.py
Due: autoflake, black, isort, pylint, mypy

[dbg] Specify the min python version
  poetry.lock
  pyproject.toml
Due: none

[dbg] Add ecs logging
  doc/demo-api.http
  doc/http-client.env.json
  poetry.lock
  pyproject.toml
  src/app/api/api_v1/endpoints/users.py
  src/app/core/config.py
  src/run_server.py
  tests/conftest.py
  tests/unit/core/test_config.py
Due: autoflake, black, isort, pylint, mypy

[doc] Adjust python ver in readme
  README.md
Due: none

[dbg] Update dependencies
  poetry.lock
  pyproject.toml
  src/app/api/api_v1/endpoints/items.py
  src/app/api/api_v1/endpoints/users.py
  src/app/core/config.py
Due: autoflake, black, isort, pylint, mypy

[dbg] Add pylint-pydantic plugin
  poetry.lock
  pyproject.toml
Due: none

[dbg] Update dependencies
  backend_base.dockerfile
  backend_build_check.dockerfile.dockerignore
  poetry.lock
  pyproject.toml
Due: none

[dbg] Update dependencies
  backend_base.dockerfile
  poetry.lock
  pyproject.toml
  src/app/api/api_v1/api.py
  src/app/api/api_v1/endpoints/items.py
  src/app/api/api_v1/endpoints/users.py
  src/app/core/config.py
  src/app/core/security.py
  src/app/main.py
  src/app/schemas/item.py
  src/app/schemas/msg.py
  src/app/schemas/token.py
  src/app/schemas/user.py
  src/run_server.py
  tests/unit/core/test_config.py
  tests/utils/utils.py
Due: autoflake, black, isort, pylint, mypy

[dbg] Upgrade poetry
  backend_base.dockerfile
  backend_dev.dockerfile
  pyproject.toml
Due: none

[test] Test api cors feature
  src/app/main.py
  tests/conftest.py
  tests/unit/api/test_api_config.py
Due: autoflake, black, isort, pylint, mypy

[dbg] Update dependencies
  .pre-commit-config.yaml
  backend_base.dockerfile
  poetry.lock
  pyproject.toml
Due: none

[feat] Enhance doc security
  src/.env.app.dev
  src/app/api/api_v1/auth.py
  src/app/core/config.py
  src/app/main.py
  tests/unit/api/api_v1/endpoints/__init__.py
  tests/unit/api/api_v1/endpoints/test_root.py
  tests/unit/api/api_v1/test_auth.py
  tests/unit/api/conftest.py
  tests/unit/api/test_api_config.py
  tests/unit/core/test_config.py
Due: autoflake, black, isort, pylint, mypy

[dbg] Update dependencies
  poetry.lock
  tests/unit/core/test_config.py
Due: autoflake, black, isort, pylint

Path conditions:
  autoflake: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^(tests)/.*
