Repository stapetro/demo-tpl-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, black, isort, pylint, mypy

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables
  - --remove-all-unused-imports
  - --recursive
  - --ignore-init-module-imports

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

mypy:
  name: mypy
  entry: mypy
  language: system

[feat] Improve logging in local env
  src/app/core/config.py
  src/app/main.py
  tests/unit/core/test_config.py
Due: autoflake, black, isort, pylint, mypy

[fix] Linting issues
  src/app/core/config.py
Due: autoflake, black, isort, pylint, mypy

[dbg] Update dependencies
  poetry.lock
Due: none

[wip] Experiment with devcontainer
  .devcontainer/devcontainer.json
  .gitignore
Due: none

[wip] Test logfire capabilities
  poetry.lock
  pyproject.toml
  src/app/api/api_v1/endpoints/users.py
  src/app/main.py
Due: autoflake, black, isort, pylint, mypy

[wip] Normalize line endings
  .gitattributes
  tests/unit/api/test_api_config.py
Due: autoflake, black, isort, pylint

Path conditions:
  autoflake: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^(tests)/.*
